<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.yesup.cordova.visitorpath"
        version="1.0.0">
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <name>VisitorPath Tracking Plugin</name>
    <description>Simple tracking (screens/events) for VisitorPath</description>
    <author>Jeff Ye</author>
    <license>Apache License 2.0</license>
    <js-module src="www/tracker.js" name="MyRoiTracking">
        <clobbers target="myroitracking" />
    </js-module>

    <preference name="VISITORPATH_API_KEY" />
    
    <info>
            In order to run this plugin, you need a API Key from visitor path.
    </info>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MyRoiTracking">
                <param name="ios-package" onload="true" value="MyRoiTrackingPlugin" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="VisitorPathApiKey">
            <string>$VISITORPATH_API_KEY</string>
        </config-file>

        <header-file src="ios/MyRoiTrackingPlugin.h" />
        <source-file src="ios/MyRoiTrackingPlugin.m" />
        
        <framework src="src/ios/MyRoiTracking.framework" custom="true" />

        <framework src="CoreTelephony.framework" weak="true" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyRoiTracking">
                <param name="android-package" value="com.yesup.myroitracking.MyRoiTrackingCordovaPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*/application">
            <meta-data
              android:name="visitorpath_api_key"
              android:value="$VISITORPATH_API_KEY" />
        </config-file>
        <source-file src="android/MyRoiTrackingCordovaPlugin.java" target-dir="src/com/yesup/myroitracking" />
        <source-file src="android/libMyroitracking-1.0.jar" target-dir="libs" />
    </platform>
</plugin>